body {
    background: white;
    color: black;
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.custom-table td,
.custom-table th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}